# <center>Universidad Polit√©cnica Salesiana</center>

**Nombre**: Lucy Garay

# Algoritmo de Cuadros Medios

#### Ejemplo1

In [1]:
import random
import numpy as np
import pandas as pd
import math

xn=[]
multiplicacion=[]
log=[]
ui = []
rn=[]

numero = int(input())
print(f"xo:, {numero}")

digito=int(input())
print(f"digito:, {digito}")

iteraciones = int(input())
print(f"iteraciones:, {iteraciones}")

def centros(mul):
    cortarI=int(digito/2)
    cortarD=digito-cortarI
    mitad=math.floor(len(mul)/2)
    unir=''
    for i in range(mitad-cortarI, mitad+cortarD, 1):
        print(mul[i])
        unir=unir+mul[i]
    ui.append(unir)
    return unir
          
def cuadrado(num):
    multi=(num*num)
    m=str(multi)
    lon=len(m)
    if(len(m)%2!=0):
        if (lon < len(m)+1):
            m=str(m).zfill(len(m)+1)
    multiplicacion.append(m)
    return m

def dividido(n):
    ceros=[int(str(num).ljust(digito+1, "0")) for num in [1]]
    res=n/ceros[0]
    rn.append(res)
    return res


for i in range(iteraciones):
    m=str(cuadrado(int(numero)))
    if(len(m)-1>digito and int(numero)>0):
        xn.append(numero)
        dividido(int(centros(m))) #RN
        numero=ui[-1]
    else:
        print('ingrese datos correctos')
        break
    
#print(xn)
#print(multiplicacion)
#print(ui)
#print(rn)

df=pd.DataFrame({"Xn":xn, "Xn*Xn":multiplicacion ,"UI ":ui, "RN":rn})
df

7845
xo:, 7845
4
digito:, 4
4
iteraciones:, 4
5
4
4
0
5
9
3
6
2
3
6
0
5
6
9
6

     Xn     Xn*Xn   UI       RN
0  7845  61544025  5440  0.5440
1  5440  29593600  5936  0.5936
2  5936  35236096  2360  0.2360
3  2360  05569600  5696  0.5696

#### Ejemplo2

In [43]:
import random
import numpy as np
import pandas as pd
import math


xn=[]
multiplicacion=[]
log=[]
ui = []
rn=[]

numero = int(input())
print(f"xo:, {numero}")

digito=int(input())
print(f"digito:, {digito}")

iteraciones = int(input())
print(f"iteraciones:, {iteraciones}")

def centros(mul):
    cortarI=int(digito/2)
    cortarD=digito-cortarI
    mitad=math.floor(len(mul)/2)
    unir=''
    for i in range(mitad-cortarI, mitad+cortarD, 1):
        unir=unir+mul[i]
    ui.append(unir)
    return unir
          
def cuadrado(num):
    multi=(num*num)
    m=str(multi)
    lon=len(m)
    if(len(m)%2!=0):
        if (lon < len(m)+1):
            m=str(m).zfill(len(m)+1)
    multiplicacion.append(m)
    return m

def dividido(n):
    ceros=[int(str(num).ljust(digito+1, "0")) for num in [1]]
    res=n/ceros[0]
    rn.append(res)
    return res


for i in range(iteraciones):
    m=str(cuadrado(int(numero)))
    if(len(m)-1>digito and int(numero)>0):
        xn.append(numero)
        dividido(int(centros(m))) #RN
        numero=ui[-1]
    else:
        print('ingrese datos correctos')
        break
    
#print(xn)
#print(multiplicacion)
#print(ui)
#print(rn)

df=pd.DataFrame({"Xn":xn, "Xn*Xn":multiplicacion ,"UI ":ui, "RN":rn})
df

7543
xo:, 7543
5
digito:, 5
20
iteraciones:, 20

       Xn       Xn*Xn    UI        RN
0    7543    56896849  89684  0.89684
1   89684  8043219856  32198  0.32198
2   32198  1036711204  67112  0.67112
3   67112  4504020544  40205  0.40205
4   40205  1616442025  64420  0.64420
5   64420  4149936400  99364  0.99364
6   99364  9873204496  32044  0.32044
7   32044  1026817936  68179  0.68179
8   68179  4648376041  83760  0.83760
9   83760  7015737600  57376  0.57376
10  57376  3292005376  20053  0.20053
11  20053  0402122809  21228  0.21228
12  21228  0450627984  06279  0.06279
13  06279    39425841  42584  0.42584
14  42584  1813397056  33970  0.33970
15  33970  1153960900  39609  0.39609
16  39609  1568872881  88728  0.88728
17  88728  7872657984  26579  0.26579
18  26579  0706443241  64432  0.64432
19  64432  4151482624  14826  0.14826

                                                                                 CUENCA, 13 DE JULIO DEL 2020